@use '../config/variaveis.scss';

.products {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 32.66%);
    column-gap: 1%;
    row-gap: 4%;
    width: variaveis.$cem;

    .product-item {
        img {
            width: variaveis.$cem;
            border-radius: 16px;
        }
    }
}

.product-button {
    display: block;
    background-color: #44bd32;
    color: variaveis.$pC;
    text-align: center;
    padding: variaveis.$o variaveis.$z;
    border-radius: variaveis.$o;
    margin-top: variaveis.$o;
    text-decoration: none;

    &:hover {
        background-color: #4cd137;
    }
}