@use 'config/variaveis.scss';
@use 'sections/products.scss';

@mixin displayBlock {
    display: block;
}

* {
    margin: variaveis.$z;
    padding: variaveis.$z;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: #f5f6fa;

    section {
        padding: 56px variaveis.$z;
    }
}

header {
    background-color: #182C61;
    position: sticky;
    top: variaveis.$z;
    left: variaveis.$z;

    .container {
        display: variaveis.$fl;
        justify-content: space-between;
        align-items: center;
        padding: 16px variaveis.$z;
    }
}

.menu {
    display: variaveis.$fl;

    li {
        font-weight: bold;
        margin-left: 24px;

        a {
            color: variaveis.$pC;
            text-decoration: none;
        }
    }
}

.container {
    max-width: variaveis.$h;
    width: variaveis.$cem;
    margin: 0 auto;

    li {
        list-style: none;
    }
}



@media screen and (max-width: variaveis.$h) {
    .container {
        max-width: 80%;
    }

    section {
        .products {
            grid-template-columns: repeat(2, 48.5%);
            column-gap: 3%;
        }
    }
}

@media screen and (max-width: 767px) {
    .products {
        @include displayBlock;

        .product-item {
            margin-bottom: 32px;
        }
    }
}